.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'montserrat', 'kalam';
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #005d8b;
  --text-color: #000000;
  --main-color: #8b008b;
  --second-main-color: #C710C7;
}