.contest {
  background-color: #ffffff;
  height: 1900px;
  position: relative;
  width: 96%;
  overflow: hidden;
}

.text-wrapper {
  padding-top: 150px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 475px;
}

.contest-search {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 40px;
  border-radius: 30px;
  margin-left: 540px;
  background-color: #D9D9D9;
  font-size: medium;
  cursor: pointer;
}

.contest-search-icon {
  margin-left: 1036px;
  margin-top: -37px;
  position: absolute;
}

.home-back {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 4.5%;
}
 
.contest h1 {
  color: var(--main-color);
  font-size: 25px;
}
 
#left-arrow {
  font-size: 25px;
  color: var(--main-color);
}

.contest .group-8 {
  height: 44px;
  left: 76px;
  position: absolute;
  top: 226px;
  width: 140px;
}

.contest .text-wrapper-4 {
  color: var(--magenta-100);
  font-family: var(--body-semibold-30-font-family);
  font-size: var(--body-semibold-30-font-size);
  font-style: var(--body-semibold-30-font-style);
  font-weight: var(--body-semibold-30-font-weight);
  left: 60px;
  letter-spacing: var(--body-semibold-30-letter-spacing);
  line-height: var(--body-semibold-30-line-height);
  position: absolute;
  top: 4px;
}

.contest .arrow-left {
  height: 44px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 44px !important;
}

.contest .div-wrapper {
  background-color: var(--variable-collection-neutral-50);
  border-radius: 50px;
  height: 77px;
  left: 1161px;
  position: absolute;
  top: 206px;
  width: 202px;
}

.contest .group-9 {
  height: 30px;
  left: 26px;
  position: relative;
  top: 24px;
  width: 129px;
}

.contest .text-wrapper-5 {
  color: var(--dark-50);
  font-family: var(--body-medium-25-font-family);
  font-size: var(--body-medium-25-font-size);
  font-style: var(--body-medium-25-font-style);
  font-weight: var(--body-medium-25-font-weight);
  left: 40px;
  letter-spacing: var(--body-medium-25-letter-spacing);
  line-height: var(--body-medium-25-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.contest .search {
  height: 24px !important;
  left: 0 !important;
  position: absolute !important;
  top: 5px !important;
  width: 24px !important;
}

.contest .group-10 {
  height: 653px;
  left: 126px;
  position: absolute;
  top: 350px;
  width: 1199px;
}

.contest .text-wrapper-6 {
  color: var(--dark-100);
  font-size: x-large;
  font-weight: 700;
  margin-left: -50px;
  position: absolute;
  top: 0;
}

.contest .ongoing-contests-instance {
  left: 0 !important;
  position: absolute !important;
  top: 81px !important;
}

.contest .group-11 {
  height: 836px;
  left: 126px;
  position: absolute;
  top: 1083px;
  width: 1199px;
}

.contest .frame {
  height: 755px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 81px;
  width: 1197px;
}

.contest .group-12 {
  height: 729px;
  position: relative;
  width: 3256px;
}

.contest .upcoming-contest {
  height: 729px;
  left: 0;
  position: absolute;
  top: 0;
  width: 482px;
}

.contest .overlap-group-2 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 729px;
  position: relative;
  width: 476px;
}

.contest .rectangle {
  height: 323px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 476px;
}

.contest .text-wrapper-7 {
  color: var(--dark-100);
  font-size: large;
  font-weight: 600;
  left: 36px;
  letter-spacing: var(--body-medium-30-letter-spacing);
  line-height: var(--body-medium-30-line-height);
  position: absolute;
  top: 355px;
  white-space: nowrap;
}

.contest .p {
  color: var(--dark-100);
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 33px;
  padding-top: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 412px;
  width: 400px;
  text-align: left;
}

.contest .text-wrapper-8 {
  color: #8b008b;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 523px;
  width: 168px;
}

.contest .group-13 {
  height: 88px;
  left: 36px;
  position: absolute;
  top: 577px;
  width: 395px;
}

.contest .group-14 {
  height: 88px;
  left: 0;
  position: absolute;
  top: 0;
  width: 114px;
}

.contest .screenshot-3 {
  height: 50px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 49px;
}

.contest .text-wrapper-9 {
  color: var(--dark-100);
  font-size: medium;
  font-weight: 500;
  margin-left: -5px;
  letter-spacing: var(--body-medium-18-letter-spacing);
  line-height: var(--body-medium-18-line-height);
  position: absolute;
  top: 66px;
  white-space: nowrap;
}

.contest .group-15 {
  height: 88px;
  left: 152px;
  position: absolute;
  top: 0;
  width: 105px;
}

.contest .screenshot-4 {
  height: 50px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 49px;
}

.contest .group-16 {
  height: 88px;
  left: 295px;
  position: absolute;
  top: 0;
  width: 102px;
}

.contest .screenshot-5 {
  height: 50px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 49px;
}

.contest .overlap-group-wrapper {
  height: 729px;
  left: 556px;
  position: absolute;
  top: 0;
  width: 482px;
}

.contest .text-wrapper-10 {
  color: #8b008b;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 543px;
  width: 168px;
}

.contest .group-17 {
  height: 88px;
  left: 36px;
  position: absolute;
  top: 597px;
  width: 395px;
}

.contest .upcoming-contest-2 {
  height: 729px;
  left: 1112px;
  position: absolute;
  top: 0;
  width: 482px;
}

.contest .upcoming-contest-3 {
  height: 729px;
  left: 1668px;
  position: absolute;
  top: 0;
  width: 482px;
}

.contest .upcoming-contest-4 {
  height: 729px;
  left: 2224px;
  position: absolute;
  top: 0;
  width: 482px;
}

.contest .text-wrapper-11 {
  color: #8b008b;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 505px;
  width: 168px;
}

.contest .group-18 {
  height: 88px;
  left: 36px;
  position: absolute;
  top: 559px;
  width: 395px;
}

.contest .upcoming-contest-5 {
  height: 729px;
  left: 2780px;
  position: absolute;
  top: 0;
  width: 482px;
}