.ongoing-contest {
    background-color: #ffffff;
    height: 1800px;
    position: relative;
    width: 100%;
    margin-left: -50px;
    overflow: hidden;
  }

  .ongoing-contest .text-wrapper {
    padding-top: 150px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 521px;
  }
  
  .ongoing-contest .contest-search {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 40px;
    border-radius: 30px;
    margin-left: 538px;
    background-color: #D9D9D9;
    font-size: medium;
  }
  
  .ongoing-contest .contest-search-icon {
    margin-left: 1080px;
    margin-top: -37px;
    position: absolute;
  }
  
  .ongoing-contest .contest-back {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 8.5%;
    color: #8b008b;
  }
   
  .ongoing-contest h1 {
    color: var(--main-color);
    font-size: 25px;
  }
   
  #left-arrow {
    font-size: 25px;
    color: var(--main-color);
  }
  
  .ongoing-contest .group-2 {
    height: 118px;
    left: 126px;
    position: absolute;
    top: 1585px;
    width: 424px;
  }
  
  .ongoing-contest .text-wrapper-3 {
    color: var(--dark-100);
    font-size: x-large;
    font-weight: 700;
    margin-left: 0px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .ongoing-contest .p {
    color: var(--main-color);
    font-size: large;
    font-weight: 600;
    left: 0;
    letter-spacing: var(--body-medium-30-letter-spacing);
    line-height: var(--body-medium-30-line-height);
    position: absolute;
    top: 61px;
  }
  
  .ongoing-contest .group-3 {
    height: 735px;
    left: 126px;
    position: absolute;
    top: 350px;
    width: 1199px;
  }
  
  .ongoing-contest .overlap-wrapper {
    height: 654px;
    left: 0;
    position: absolute;
    top: 81px;
    width: 1197px;
  }
  
  .ongoing-contest .overlap {
    height: 654px;
    position: relative;
    width: 1199px;
  }
  
  .ongoing-contest .group-4 {
    height: 644px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1197px;
  }
  
  .ongoing-contest .overlap-group {
    border-radius: 20px;
    height: 488px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1197px;
  }
  
  .ongoing-contest .element-removebg-wrapper {
    background-color: #c5def4;
    border-radius: 20px;
    height: 488px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1057px;
  }
  
  .ongoing-contest .element-removebg {
    object-fit: cover;
    position: absolute;
  }
  
  .ongoing-contest .group-5 {
    height: 130px;
    left: 49px;
    position: absolute;
    top: 303px;
    width: 516px;
  }
  
  .ongoing-contest .group-6 {
    height: 130px;
    left: 0;
    position: absolute;
    top: 0;
    width: 157px;
  }
  
  .ongoing-contest .screenshot {
    height: 80px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 78px;
  }
  
  .ongoing-contest .text-wrapper-4 {
    color: var(--dark-100);
    font-size: medium;
    font-weight: 600;
    margin-left: 10px;
    line-height: var(--body-medium-25-line-height);
    position: absolute;
    margin-top: 80px;
    white-space: nowrap;
  }
  
  .ongoing-contest .group-7 {
    height: 130px;
    left: 195px;
    position: absolute;
    top: 0;
    width: 145px;
  }
  
  .ongoing-contest .img {
    height: 80px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 78px;
  }
  
  .ongoing-contest .group-8 {
    height: 130px;
    left: 378px;
    position: absolute;
    top: 0;
    width: 140px;
  }
  
  .ongoing-contest .screenshot-2 {
    height: 80px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 78px;
  }
  
  .ongoing-contest .group-9 {
    height: 233px;
    left: 50px;
    position: absolute;
    top: 50px;
    width: 450px;
  }
  
  .ongoing-contest .text-wrapper-5 {
    color: var(--dark-100);
    font-family: "Montserrat", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 81px;
    width: 446px;
    text-align: left;
  }
  
.ongoing-contest .text-wrapper-6 {
  color: var(--dark-100);
  font-size: xx-large;
  font-weight: 700;
  left: 0;
  letter-spacing: var(--book-cover-50-letter-spacing);
  line-height: var(--book-cover-50-line-height);
  position: absolute;
  top: 0;
  }
  
  .ongoing-contest .rules-button {
    position: absolute;
    padding: 10px 70px 10px 40px;
    border-radius: 25px;
    color: #8b008b;
    font-weight: 500;
    font-size: larger;
    background-color: transparent;
    border: 2px solid #8b008b;
    cursor: pointer;
  }
  
  .ongoing-contest .group-10 {
    left: 0px;
    position: absolute;
    top: 580px;
  }
  
  .ongoing-contest .open-book-icon {
    height: 20px !important;
    margin-left: 15px !important;
    position: absolute !important;
    top: 35 !important;
    width: 24px !important;
  }
  
  .ongoing-contest .button {
    padding: 20px 60px 20px 60px;
    background-color: #8b008b;
    color: #ffffff;
    right: 145px;
    position: absolute;
    top: 580px;
    font-weight: 600;
    font-size: medium;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .ongoing-contest .overlap-2 {
    background-color: var(--magenta-100);
    border-radius: 25px;
    height: 90px;
    position: relative;
    width: 264px;
  }
  
  .ongoing-contest .text-wrapper-8 {
    color: var(--white);
    font-family: var(--body-bold-25-font-family);
    font-size: var(--body-bold-25-font-size);
    font-style: var(--body-bold-25-font-style);
    font-weight: var(--body-bold-25-font-weight);
    left: 62px;
    letter-spacing: var(--body-bold-25-letter-spacing);
    line-height: var(--body-bold-25-line-height);
    position: absolute;
    top: 30px;
    width: 140px;
  }
  
  .ongoing-contest .overlap-group-wrapper {
    height: 236px;
    left: 167px;
    position: absolute;
    top: 1217px;
    width: 993px;
  }
  
  .ongoing-contest .overlap-3 {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 4px 4px 2px #00008b, inset 0px 4px 4px 2px #8b008b;
    height: 236px;
    position: relative;
    width: 985px;
  }
  
  .ongoing-contest .text-wrapper-9 {
    color: var(--dark-100);
    font-size: xx-large;
    font-weight: 700;
    left: 196px;
    letter-spacing: var(--book-cover-50-letter-spacing);
    line-height: var(--book-cover-50-line-height);
    position: absolute;
    top: 131px;
  }
  
  .ongoing-contest .text-wrapper-10 {
    color: var(--dark-100);
    font-size: xx-large;
    font-weight: 700;
    left: 412px;
    letter-spacing: var(--book-cover-50-letter-spacing);
    line-height: var(--book-cover-50-line-height);
    position: absolute;
    top: 131px;
  }
  
  .ongoing-contest .text-wrapper-11 {
    color: var(--dark-100);
    font-size: xx-large;
    font-weight: 700;
    left: 672px;
    letter-spacing: var(--book-cover-50-letter-spacing);
    line-height: var(--book-cover-50-line-height);
    position: absolute;
    top: 131px;
  }
  
  .ongoing-contest .group-11 {
    height: 162px;
    left: 55px;
    position: absolute;
    top: 30px;
    width: 105px;
  }
  
  .ongoing-contest .text-wrapper-12 {
    color: #adabab;
    font-size: x-large;
    font-weight: 700;
    margin-left: 12px;
    letter-spacing: var(--montserrat-40-semibold-letter-spacing);
    line-height: var(--montserrat-40-semibold-line-height);
    position: absolute;
    top: 0;
  }
  
  .ongoing-contest .text-wrapper-13 {
    color: var(--dark-100);
    font-size: xx-large;
    font-weight: 700;
    left: 21px;
    letter-spacing: var(--book-cover-50-letter-spacing);
    line-height: var(--book-cover-50-line-height);
    position: absolute;
    top: 101px;
  }
  
  .ongoing-contest .group-12 {
    height: 162px;
    left: 249px;
    position: absolute;
    top: 30px;
    width: 127px;
  }
  
  .ongoing-contest .text-wrapper-14 {
    color: var(--dark-100);
    font-size: xx-large;
    font-weight: 700;
    left: 30px;
    letter-spacing: var(--book-cover-50-letter-spacing);
    line-height: var(--book-cover-50-line-height);
    position: absolute;
    top: 107px;
  }
  
  .ongoing-contest .group-13 {
    height: 162px;
    left: 465px;
    position: absolute;
    top: 30px;
    width: 171px;
  }
  
  .ongoing-contest .text-wrapper-15 {
    color: var(--dark-100);
    font-size: xx-large;
    font-weight: 700;
    left: 52px;
    letter-spacing: var(--book-cover-50-letter-spacing);
    line-height: var(--book-cover-50-line-height);
    position: absolute;
    top: 101px;
  }
  
  .ongoing-contest .text-wrapper-16 {
    color: #adabab;
    font-size: x-large;
    font-weight: 700;
    left: 725px;
    letter-spacing: var(--montserrat-40-semibold-letter-spacing);
    line-height: var(--montserrat-40-semibold-line-height);
    position: absolute;
    top: 30px;
  }
  
  .ongoing-contest .countdown-instance {
    margin-left: 565px !important;
    margin-top: 146px !important;
    height: 38px;
    width: 55px;
  }