.dashboard {
   background-color: #ffffff;
   position: relative;
   width: 100%;
}

.search-create {
    display: flex;
    align-items: center;
    gap: 40px;
}

.dashboard-search {
    margin-top: 150px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 40px;
    border-radius: 30px;
    background-color: #D9D9D9;
    margin-left: 858px;
    font-size: medium;
    cursor: pointer;
}

.dashboard-search-icon {
   margin-left: 880px;
   margin-top: 115px;
   position: absolute;
}

.dashboard .creating-story {
   position: absolute;
   top: 34px;
   left: 1025px;
}

.create-new-story {
   margin-top: 110px;
   padding: 20px 20px;
   border-radius: 40px;
   color: #8b008b;
   font-weight: 700;
   font-size: larger;
   background-color: transparent;
   border: 2px solid #8b008b;
   cursor: pointer;
}

.dashboard .create-story {
   position: absolute;
   font-size: small;
   margin-left: -52px;
   margin-top: 25px;
   width: 300px;
 }

 .dashboard .create {
   background-color: #ffffff;
   padding: 20px 60px 20px 30px;
   border-radius: 10px;
 }

 .dashboard .Create-one-myself {
   color: black;
   font-weight: 600;
   border: 1px solid #00000040;
   border-radius: 5px;
   padding: 5px 130px 5px 8px;
   white-space: nowrap;
 }

 #more-Create-one-myself {
   display: flex;
   align-items: center;
   gap: 5px;
   padding-top: 20px;
   padding-bottom: 20px;
 }

 .dashboard .select-button {
   position: absolute;
   left: 250px;
   background-color: transparent;
   color: #8b008b;
   cursor: pointer;
 }

 .dashboard .Hire-a-Creator {
   color: black;
   font-weight: 600;
   border: 1px solid #00000040;
   border-radius: 5px;
   padding: 5px 153px 5px 8px;
   white-space: nowrap;
 }

 #more-Hire-a-Creator {
   display: flex;
   align-items: center;
   gap: 10px;
   padding-bottom: 20px;
 }

 .dashboard .Find-who-hiring {
   color: black;
   font-weight: 600;
   border: 1px solid #00000040;
   border-radius: 5px;
   padding: 5px 134px 5px 8px;
   white-space: nowrap;
 }

 #more-Find-who-hiring {
   display: flex;
   align-items: center;
   gap: 10px;
   padding-bottom: 20px;
 }

 .dashboard .Create-for-StoryCreate {
   color: black;
   font-weight: 600;
   border: 1px solid #00000040;
   border-radius: 5px;
   padding: 5px 55px 5px 8px;
   white-space: nowrap;
 }

 #more-Create-for-StoryCreate {
   display: flex;
   align-items: center;
   gap: 10px;
   padding-bottom: 20px;
 }

 .dashboard .continue {
   color: black;
   font-weight: 600;
   border: 1px solid var(--main-color);
   border-radius: 10px;
   padding: 10px 93px 10px 93px;
   color: #ffffff;
   background-color: #8b008b;
   opacity: 0.5;
 }

.trending-now {
    display: flex;
    margin-left: 60px;
    padding-bottom: 30px;
}

.dashboard-group-1 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 80px;
   width: 90%;
   overflow: hidden;
}

.dashboard-title {
   margin-right: 187px;
   padding-top: 15px;
   position: absolute;
}

.dashboard-author {
   margin-right: 245px;
   color: #8b008b;
   padding-top: 50px;
}

.views {
   display: flex;
   align-items: center;
   gap: 10px;
   padding-top: 15px;
   font-weight: 500;
   cursor: pointer;
}

.dashboard-title-2 {
   margin-right: 217px;
   padding-top: 15px;
   position: absolute;
}

.dashboard-author-2 {
   margin-right: 250px;
   color: #8b008b;
   padding-top: 50px;
}

.dashboard-title-3 {
   margin-right: 70px;
   padding-top: 15px;
   position: absolute;
}

.dashboard-author-3 {
   margin-right: 215px;
   color: #8b008b;
   padding-top: 50px;
}
 
.sponsored-posts {
   display: flex;
   margin-left: 60px;
   padding-bottom: 30px;
}

.dashboard-group-2 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 120px;
   width: 90%;
   overflow: hidden;
}

.dashboard-title-4 {
   margin-right: 252px;
   padding-top: 15px;
}

.dashboard-author-4 {
   margin-right: 223px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard-title-5 {
   margin-right: 135px;
   padding-top: 15px;
}

.dashboard-author-5 {
   margin-right: 230px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard-title-6 {
   margin-right: 224px;
   padding-top: 15px;
}

.dashboard-author-6 {
   margin-right: 250px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like {
   position: absolute;
   left: 350px;
   top: 1574px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share {
   position: absolute;
   left: 405px;
   top: 1582px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus {
   position: absolute;
   left: 317px;
   top: 1574px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

.dashboard .star-rating {
   height: 24px;
   left: 35px;
   position: absolute;
   top: 1625px;
   width: 250px;
 }

.dashboard .star-group {
   height: 24px;
   left: 0;
   position: absolute;
   top: 0;
   width: 146px;
 }

.dashboard .star {
   height: 20px;
 }

.dashboard .five-rating {
   color: var(--dark-100);
   font-size: medium;
   font-style: normal;
   font-weight: 500;
   left: 152px;
   letter-spacing: var(--body-medium-18-letter-spacing);
   line-height: var(--body-medium-18-line-height);
   position: absolute;
   top: 0px;
 }

.dashboard .like-2 {
   position: absolute;
   left: 780px;
   top: 1574px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-2 {
   position: absolute;
   left: 835px;
   top: 1582px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-2 {
   position: absolute;
   left: 747px;
   top: 1574px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-2 {
   height: 24px;
   left: 470px;
   position: absolute;
   top: 1625px;
   width: 250px;
 }

.dashboard .like-3 {
   position: absolute;
   left: 1210px;
   top: 1574px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-3 {
   position: absolute;
   left: 1265px;
   top: 1582px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-3 {
   position: absolute;
   left: 1177px;
   top: 1574px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-3 {
   height: 24px;
   left: 905px;
   position: absolute;
   top: 1625px;
   width: 250px;
 }

.readers-favourite {
   display: flex;
   margin-left: 60px;
   padding-bottom: 30px;
}

.dashboard-group-3 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 120px;
   width: 90%;
   overflow: hidden;
}

.dashboard-title-7 {
   margin-right: 154px;
   padding-top: 15px;
}

.dashboard-author-7 {
   margin-right: 260px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-4 {
   position: absolute;
   left: 350px;
   top: 2337px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-4 {
   position: absolute;
   left: 405px;
   top: 2345px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-4 {
   position: absolute;
   left: 317px;
   top: 2337px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

.dashboard .star-rating-4 {
   height: 24px;
   left: 35px;
   position: absolute;
   top: 2388px;
   width: 250px;
 }

.dashboard-title-8 {
   margin-right: 175px;
   padding-top: 15px;
}

.dashboard-author-8 {
   margin-right: 240px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-5 {
   position: absolute;
   left: 780px;
   top: 2337px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-5 {
   position: absolute;
   left: 835px;
   top: 2345px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-5 {
   position: absolute;
   left: 747px;
   top: 2337px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-5 {
   height: 24px;
   left: 470px;
   position: absolute;
   top: 2388px;
   width: 250px;
 }

.dashboard-title-9 {
   margin-right: 180px;
   padding-top: 15px;
}

.dashboard-author-9 {
   margin-right: 215px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-6 {
   position: absolute;
   left: 1210px;
   top: 2337px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-6 {
   position: absolute;
   left: 1265px;
   top: 2345px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-6 {
   position: absolute;
   left: 1177px;
   top: 2337px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-6 {
   height: 24px;
   left: 905px;
   position: absolute;
   top: 2388px;
   width: 250px;
 }

.highly-rated {
   display: flex;
   margin-left: 60px;
   padding-bottom: 30px;
}

.dashboard-group-4 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 120px;
   width: 90%;
   overflow: hidden;
}

.dashboard-title-10 {
   margin-right: 242px;
   padding-top: 15px;
}

.dashboard-author-10 {
   margin-right: 250px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-7 {
   position: absolute;
   left: 350px;
   top: 3100px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-7 {
   position: absolute;
   left: 405px;
   top: 3108px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-7 {
   position: absolute;
   left: 317px;
   top: 3100px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

.dashboard .star-rating-7 {
   height: 24px;
   left: 35px;
   position: absolute;
   top: 3151px;
   width: 250px;
 }

.dashboard-title-11 {
   margin-right: 210px;
   padding-top: 15px;
}

.dashboard-author-11 {
   margin-right: 245px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-8 {
   position: absolute;
   left: 780px;
   top: 3100px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-8 {
   position: absolute;
   left: 835px;
   top: 3108px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-8 {
   position: absolute;
   left: 747px;
   top: 3100px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-8 {
   height: 24px;
   left: 470px;
   position: absolute;
   top: 3151px;
   width: 250px;
 }

.dashboard-title-12 {
   margin-right: 196px;
   padding-top: 15px;
}

.dashboard-author-12 {
   margin-right: 207px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-9 {
   position: absolute;
   left: 1210px;
   top: 3100px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-9 {
   position: absolute;
   left: 1265px;
   top: 3108px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-9 {
   position: absolute;
   left: 1177px;
   top: 3100px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-9 {
   height: 24px;
   left: 905px;
   position: absolute;
   top: 3151px;
   width: 250px;
 }

.exciting-genre {
   display: flex;
   margin-left: 60px;
   padding-bottom: 30px;
}

.dashboard-group-5 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 80px;
   width: 90%;
   overflow: hidden;
}

.Audio-books {
   display: flex;
   margin-left: 60px;
   padding-bottom: 30px;
}

.dashboard-group-6 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 80px;
   width: 90%;
   overflow: hidden;
}

.dashboard-title-13 {
   margin-right: 265px;
   padding-top: 15px;
}

.dashboard-author-13 {
   margin-right: 237px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-10 {
   position: absolute;
   left: 350px;
   top: 4460px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-10 {
   position: absolute;
   left: 405px;
   top: 4468px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-10 {
   position: absolute;
   left: 317px;
   top: 4460px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

.dashboard .star-rating-10 {
   height: 24px;
   left: 35px;
   position: absolute;
   top: 4511px;
   width: 250px;
 }

.dashboard-title-14 {
   margin-right: 254px;
   padding-top: 15px;
}

.dashboard-author-14 {
   margin-right: 205px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-11 {
   position: absolute;
   left: 780px;
   top: 4460px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-11 {
   position: absolute;
   left: 835px;
   top: 4468px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-11 {
   position: absolute;
   left: 747px;
   top: 4460px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-11 {
   height: 24px;
   left: 470px;
   position: absolute;
   top: 4511px;
   width: 250px;
 }

.dashboard-title-15 {
   margin-right: 215px;
   padding-top: 15px;
}

.dashboard-author-15 {
   margin-right: 242px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-12 {
   position: absolute;
   left: 1210px;
   top: 4460px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-12 {
   position: absolute;
   left: 1265px;
   top: 4468px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-12 {
   position: absolute;
   left: 1177px;
   top: 4460px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-12 {
   height: 24px;
   left: 905px;
   position: absolute;
   top: 4511px;
   width: 250px;
 }

.anime-stories {
   display: flex;
   margin-left: 60px;
   padding-bottom: 30px;
}

.dashboard-group-7 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 120px;
   width: 90%;
   overflow: hidden;
}

.dashboard-title-16 {
   margin-right: 195px;
   padding-top: 15px;
}

.dashboard-author-16 {
   margin-right: 220px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-13 {
   position: absolute;
   left: 350px;
   top: 5183px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-13 {
   position: absolute;
   left: 405px;
   top: 5191px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-13 {
   position: absolute;
   left: 317px;
   top: 5183px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

.dashboard .star-rating-13 {
   height: 24px;
   left: 35px;
   position: absolute;
   top: 5234px;
   width: 250px;
 }

.dashboard-title-17 {
   margin-right: 149px;
   padding-top: 15px;
}

.dashboard-author-17 {
   margin-right: 215px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-14 {
   position: absolute;
   left: 780px;
   top: 5183px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-14 {
   position: absolute;
   left: 835px;
   top: 5191px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-14 {
   position: absolute;
   left: 747px;
   top: 5183px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-14 {
   height: 24px;
   left: 470px;
   position: absolute;
   top: 5234px;
   width: 250px;
 }

.dashboard-title-18 {
   margin-right: 245px;
   padding-top: 15px;
}

.dashboard-author-18 {
   margin-right: 233px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-15 {
   position: absolute;
   left: 1210px;
   top: 5183px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-15 {
   position: absolute;
   left: 1265px;
   top: 5191px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-15 {
   position: absolute;
   left: 1177px;
   top: 5183px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-15 {
   height: 24px;
   left: 905px;
   position: absolute;
   top: 5234px;
   width: 250px;
 }

.graphic-novels {
   display: flex;
   margin-left: 60px;
   padding-bottom: 30px;
}

.dashboard-group-8 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 120px;
   width: 90%;
   overflow: hidden;
}

.dashboard-title-19 {
   margin-right: 252px;
   padding-top: 15px;
}

.dashboard-author-19 {
   margin-right: 126px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-16 {
   position: absolute;
   left: 350px;
   top: 5946px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-16 {
   position: absolute;
   left: 405px;
   top: 5954px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-16 {
   position: absolute;
   left: 317px;
   top: 5946px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

.dashboard .star-rating-16 {
   height: 24px;
   left: 35px;
   position: absolute;
   top: 5997px;
   width: 250px;
 }

.dashboard-title-20 {
   margin-right: 318px;
   padding-top: 15px;
}

.dashboard-author-20 {
   margin-right: 83px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-17 {
   position: absolute;
   left: 780px;
   top: 5946px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-17 {
   position: absolute;
   left: 835px;
   top: 5954px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-17 {
   position: absolute;
   left: 747px;
   top: 5946px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-17 {
   height: 24px;
   left: 470px;
   position: absolute;
   top: 5997px;
   width: 250px;
 }

.dashboard-title-21 {
   margin-right: 315px;
   padding-top: 15px;
}

.dashboard-author-21 {
   margin-right: 223px;
   color: #8b008b;
   padding-top: 15px;
}

.dashboard .like-18 {
   position: absolute;
   left: 1210px;
   top: 5946px;
   height: 40px;
   cursor: pointer;
}

.dashboard .share-18 {
   position: absolute;
   left: 1265px;
   top: 5954px;
   height: 22px;
   cursor: pointer;
}

.dashboard .plus-18 {
   position: absolute;
   left: 1177px;
   top: 5946px;
   height: 22px;
   font-size: xx-large;
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

 .dashboard .star-rating-18 {
   height: 24px;
   left: 905px;
   position: absolute;
   top: 5997px;
   width: 250px;
 }

.dashboard-and {
   color: #000000;
}