.community-explore {
    background-color: #ffffff;
    height: 1024px;
    overflow: hidden;
    position: relative;
    width: 1320px;
 }
  
  .community-explore .frame {
    height: 803px;
    left: 600px;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 174px;
    width: 784px;
  }
  
  .community-explore .group {
    background-color: var(--white);
    box-shadow: inset 0px 2px 2px #00000040;
    height: 2170px;
    position: relative;
    width: 784px;
  }
  
  .community-explore .div {
    height: 49px;
    left: 0;
    position: absolute;
    top: 32px;
    width: 784px;
  }
  
  .community-explore .group-2 {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 321px;
  }
  
  .community-explore .line {
    height: 5px;
    left: 0;
    position: absolute;
    top: 49px;
    width: 300px;
  }
  
  .community-explore .group-3 {
    height: 29px;
    left: 92px;
    position: absolute;
    top: 0;
    width: 140px;
  }
  
  .community-explore .text-wrapper {
    color: var(--dark-100);
    font-size: large;
    font-weight: 600;
    left: -430px;
    letter-spacing: var(--body-semibold-24-letter-spacing);
    line-height: var(--body-semibold-24-line-height);
    position: absolute;
    top: -145px;
  }
  
  .community-explore .icon-instance-node {
    height: 24px !important;
    left: 0 !important;
    position: absolute !important;
    top: 4px !important;
    width: 24px !important;
  }
  
  .community-explore .group-4 {
    height: 49px;
    left: 463px;
    position: absolute;
    top: 0;
    width: 321px;
  }
  
  .community-explore .group-5 {
    height: 29px;
    left: 44px;
    position: absolute;
    top: 0;
    width: 236px;
  }
  
  .community-explore .text-wrapper-2 {
    color: #00000040;
    font-size: large;
    font-weight: 600;
    left: 44px;
    letter-spacing: var(--body-semibold-24-letter-spacing);
    line-height: var(--body-semibold-24-line-height);
    position: absolute;
    top: 5px;
  }
  
  .community-explore .group-6 {
    height: 1808px;
    left: 72px;
    position: absolute;
    top: 301px;
    width: 640px;
  }
  
  .community-explore .group-wrapper {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 268px;
    left: 0;
    position: absolute;
    top: 0;
    width: 640px;
  }
  
  .community-explore .group-7 {
    height: 142px;
    left: 53px;
    position: relative;
    top: 63px;
    width: 484px;
  }
  
  .community-explore .ellipse {
    height: 140px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 140px;
  }
  
  .community-explore .group-8 {
    height: 142px;
    left: 180px;
    position: absolute;
    top: 0;
    width: 308px;
  }
  
  .community-explore .text-wrapper-3 {
    color: var(--dark-100);
    font-size: large;
    font-style: normal;
    font-weight: 600;
    left: 0;
    letter-spacing: var(--body-semibold-24-letter-spacing);
    line-height: var(--body-semibold-24-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .community-explore .p {
    color: var(--dark-100);
    font-size: medium;
    font-style: normal;
    font-weight: 500;
    left: 0;
    letter-spacing: var(--body-medium-18-letter-spacing);
    line-height: var(--body-medium-18-line-height);
    position: absolute;
    top: 49px;
    width: 304px;
    text-align: left;
  }
  
  .community-explore .div-wrapper {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 268px;
    left: 0;
    position: absolute;
    top: 308px;
    width: 640px;
  }
  
  .community-explore .group-9 {
    height: 160px;
    left: 53px;
    position: relative;
    top: 54px;
    width: 484px;
  }
  
  .community-explore .group-10 {
    height: 160px;
    left: 180px;
    position: absolute;
    top: 0;
    width: 308px;
  }
  
  .community-explore .group-11 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 268px;
    left: 0;
    position: absolute;
    top: 616px;
    width: 640px;
  }
  
  .community-explore .group-12 {
    height: 182px;
    left: 53px;
    position: relative;
    top: 43px;
    width: 484px;
  }
  
  .community-explore .group-13 {
    height: 182px;
    left: 180px;
    position: absolute;
    top: 0;
    width: 308px;
  }
  
  .community-explore .group-14 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 268px;
    left: 0;
    position: absolute;
    top: 924px;
    width: 640px;
  }
  
  .community-explore .group-15 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 268px;
    left: 0;
    position: absolute;
    top: 1232px;
    width: 640px;
  }
  
  .community-explore .group-16 {
    height: 140px;
    left: 53px;
    position: relative;
    top: 64px;
    width: 484px;
  }
  
  .community-explore .group-17 {
    height: 140px;
    left: 180px;
    position: absolute;
    top: 0;
    width: 308px;
  }
  
  .community-explore .group-18 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 268px;
    left: 0;
    position: absolute;
    top: 1540px;
    width: 640px;
  }
  
  .community-explore .group-19 {
    border: 1px solid;
    border-color: #00000040;
    border-radius: 40px;
    height: 60px;
    left: 60px;
    position: absolute;
    top: 141px;
    width: 630px;
  }
  
  .community-explore .group-20 {
    height: 24px;
    left: 55px;
    position: relative;
    top: 16px;
    width: 109px;
  }
  
  .community-explore .text-wrapper-4 {
    color: #000000;
    font-size: large;
    font-weight: 600;
    left: 10px;
    letter-spacing: var(--body-medium-18-letter-spacing);
    line-height: var(--body-medium-18-line-height);
    position: absolute;
    top: -32px;
    background-color: transparent;
    padding: 33px 395px 20px 33px;
  }

  .community-explore .text-wrapper-4::placeholder {
    padding-left: 0px;
    color: #00000040;
  }
  
  .community-explore .search-instance {
    height: 24px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 24px !important;
  }
  
  .community-explore .group-21 {
    background-color: var(--white);
    box-shadow: inset 0px 2px 2px #00000040;
    height: 850px;
    left: 0;
    position: absolute;
    top: 174px;
    width: 601px;
  }
  
  .community-explore .element-tiny {
    height: 470px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 128px;
    width: 608px;
  }
  
  .community-explore .img {
    color: var(--main-color);
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    font-size: large;
    font-weight: 600;
    padding: 15px 30px 15px 30px;
    left: 66px;
    position: absolute;
    top: 23px;
    box-shadow: 1.5px 1.5px #00000040;
  }