.footer {
    width: 100%;
    padding: 15px 30px;
    height: 455px;
    background-color: #005d8b;
    justify-content: space-between;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    color: #ffffff;
    font-family: 'kalam';
    margin-top: 65px;
    margin-left: 70px;
    padding-bottom: 15px;
}

.logo a {
    font-family: 'kalam';
    font-size: 25px;
    color: #ffffff;
}

.p-tags {
    margin-right: 685px;
}

.text-about-follow {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 67px;
    padding-top: 20px;
}

.about-follow {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.text-wrapper-21 {
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 30px;
    margin-right: 152px;
}

.text-wrapper-22 {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    margin-right: 45px;
}

.text-wrapper-23 {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    left: 98px;
    padding-top: 5px;
    padding-bottom: 30px;
    position: absolute;
}

.div-wrapper-2 {
    display: flex;
    margin-left: 20px;
    gap: 60px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-left: 55px;
}

.footer .line {
    margin-top: -90px;
}

.footer .line-2 {
    position: absolute;
    margin-top: -90px;
    margin-left: 330px;
}

.about-us {
    position: absolute;
    color: #ffffff;
    font-weight: 300;
    font-size: 22px;
    padding-bottom: 20px;
    margin-top: -60px;
    margin-left: 120px;
}

.text-wrapper-24 {
    padding-bottom: 15px;
    padding-right: 8px;
    font-size: medium;
    cursor: pointer;
}

.text-wrapper-25 {
    padding-bottom: 15px;
    margin-right: 24px;
    font-size: medium;
    cursor: pointer;
}

.text-wrapper-26 {
    padding-bottom: 15px;
    margin-left: 5px;
    font-size: medium;
    cursor: pointer;
}

.text-wrapper-27 {
    padding-bottom: 15px;
    margin-right: 48px;
    font-size: medium;
    cursor: pointer;
}


.follow {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: -70px;
    margin-left: 360px;
}

.social-media-icons {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 360px;
    cursor: pointer;
}

.email-input {
    width: 300px;
    height: 65px;
    margin-right: 0px;
    padding: 12px 20px;
    border-radius: 0px 0px 0px 0px;
    font-size: medium;
    font-weight: 500;
}

.email-input::placeholder{
    font-size: 15px;
    padding-left: 0px;
}

.subscribe {
    width: 140px;
    height: 65px;
    background-color: #C710C7;
    color: #ffffff;
    font-size: medium;
    font-weight: 600;
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    cursor: pointer;
}

.apple {
    padding-top: 385px;
    width: 210px;
    padding: 0px;
    margin-right: 0px;
    cursor: pointer;
}

.google {
    padding-bottom: 0px;
    width: 210px;
    cursor: pointer;
}

.subscribe-apple-google {
    display: flex;
    padding-top: 65px;
    gap: 60px;
    margin-left: 14px;
}