.home {
   background-color: #ffffff;
   position: relative;
   width: 1300px;
}

body {
   font-family: 'Montserrat' 'kalam';
}
  
.text-wrapper {
   padding-top: 150px;
   display: flex;
   align-items: center;
   gap: 15px;
   margin-left: 475px;
}

.home-search {
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 50px;
   padding-right: 40px;
   border-radius: 30px;
   margin-left: 523px;
   background-color: #D9D9D9;
   font-size: medium;
}

.home-search-icon {
   margin-left: 1020px;
   margin-top: -36px;
   position: absolute;
}
  
#bell {
   font-size: 30px;
   color: var(--second-main-color);
   opacity: 50;
}
  
#chat {
   font-size: 30px;
   color: var(--second-main-color);
}
  
#group {
   font-size: 30px;
   color: var(--second-main-color);
}
  
.home-back {
   display: flex;
   justify-content: first baseline;
   align-items: center;
   gap: 6px;
   margin-left: 4.5%;
}
  
.home h1 {
   color: var(--main-color);
   font-size: 25px;
}
  
#left-arrow {
   font-size: 25px;
   color: var(--main-color);
}
  
#post {
   font-size: 35px;
   padding: 0px 10px 0px 10px;
   margin-bottom: 80px;
   border-radius: 5px;
   color: var(--main-color);
   box-shadow: 0px 3.66px 3.66px #00000040, inset 0px 1.83px 1.83px #00000026;
   margin-left: 530px;
}
  
.ellipse-1 {
   display: flex;
   align-items: center;
   gap: 14px;
   padding-bottom: 20px;
   font-size: 25px;
   justify-content: left;
   margin-left: 100px;
}
  
.home-p {
   padding-bottom: 20px;
   justify-items: left;
   font-family: 'montserrat';
   font-weight: 500;
   margin-right: 125px;
}

.rectangle-1 {
   margin-right: 500px;
}

.home-heart-icons {
   display: flex;
   align-items: center;
   gap: 7px;
   font-size: 30px;
   margin-left: 110px;
}
  
.text-wrapper-3 {
   margin-right: 1020px;
   padding-top: 10px;
   font-weight: 500;
}
  
.text-wrapper-4 {
   margin-right: 903px;
   padding-top: 15px;
}
  
.text-wrapper-5 {
   margin-right: 982px;
   padding-top: 15px;
   padding-bottom: 50px;
}
  
.ellipse-2 {
   display: flex;
   align-items: center;
   gap: 14px;
   padding-bottom: 20px;
   font-size: 25px;
   justify-content: left;
   margin-left: 100px;
}
  
.home-p2 {
   padding-bottom: 20px;
   font-family: 'montserrat';
   font-weight: 500;
   font-size: medium;
   justify-content: left;
   margin-right: 240px;
}

.rectangle-2 {
   margin-right: 500px;
}
  
.text-wrapper-3a {
   margin-right: 1020px;
   padding-top: 10px;
   font-weight: 500;
   font-size: medium;
}
  
.text-wrapper-4a {
   margin-right: 903px;
   padding-top: 15px;
   font-weight: 300;
   font-size: medium;
}
  
.text-wrapper-5a {
   margin-right: 982px;
   padding-top: 15px;
   font-weight: 300;
   font-size: medium;
   padding-bottom: 50px;
}
  
.ellipse-3 {
   display: flex;
   align-items: center;
   gap: 14px;
   padding-bottom: 20px;
   font-size: 25px;
   justify-content: left;
   margin-left: 100px;
}

.home-p3 {
   padding-bottom: 20px;
   font-family: 'montserrat';
   font-weight: 500;
   font-size: medium;
   justify-content: left;
   margin-right: 465px;
}

.text-wrapper-7 {
   margin-right: 250px;
}

.rectangle-3 {
   margin-right: 500px;
}

.text-wrapper-8 {
   margin-right: 1020px;
   padding-top: 10px;
   font-weight: 500;
   font-size: medium;
}

.text-wrapper-9 {
   margin-right: 903px;
   padding-top: 15px;
   font-weight: 300;
   font-size: medium;
}

.text-wrapper-10 {
   margin-right: 982px;
   padding-top: 15px;
   font-weight: 300;
   font-size: medium;
   padding-bottom: 50px;
}

.ellipse-4 {
   display: flex;
   align-items: center;
   gap: 14px;
   padding-bottom: 20px;
   font-size: 25px;
   justify-content: left;
   margin-left: 100px;
}

.home-p4 {
   padding-bottom: 20px;
   font-family: 'montserrat';
   font-weight: 500;
   font-size: medium;
   justify-content: left;
   margin-right: 195px;
}

.rectangle-4 {
   margin-right: 500px;
}

.text-wrapper-11 {
   margin-right: 1020px;
   padding-top: 10px;
   font-weight: 500;
   font-size: medium;
}

.text-wrapper-12 {
   margin-right: 903px;
   padding-top: 15px;
   font-weight: 300;
   font-size: medium;
}

.text-wrapper-13 {
   margin-right: 982px;
   padding-top: 15px;
   font-weight: 300;
   font-size: medium;
   padding-bottom: 50px;
}

.ellipse-5 {
   display: flex;
   align-items: center;
   gap: 14px;
   padding-bottom: 20px;
   font-size: 25px;
   justify-content: left;
   margin-left: 100px;
}

.home-p5 {
   padding-bottom: 20px;
   font-family: 'montserrat';
   font-weight: 500;
   font-size: medium;
   justify-content: left;
   margin-right: 268px;
}

.rectangle-5 {
   margin-right: 500px;
}

.text-wrapper-14 {
   margin-right: 1020px;
   padding-top: 10px;
   font-weight: 500;
   font-size: medium;
}

.text-wrapper-15 {
   margin-right: 903px;
   padding-top: 15px;
   font-weight: 300;
   font-size: medium;
}

.text-wrapper-16 {
   margin-right: 982px;
   padding-top: 15px;
   font-weight: 300;
   font-size: medium;
   padding-bottom: 50px;
}