.join-community {
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    height: 700px;
    width: 100%;
}

.join-community .group-1 {
    position: absolute;
    left: 50px;
    top: 360px;
    overflow: hidden;
    overflow-y: scroll;
}

.join-community .community-1 {
    position: absolute;
    left: 50px;
    top: 150px;
}

.join-community .community-2 {
    position: absolute;
    left: 50px;
    top: 240px;
}

.join-community .community-3 {
    position: absolute;
    left: 50px;
    top: 330px;
}

.join-community .community-4 {
    position: absolute;
    left: 50px;
    top: 420px;
}

.join-community .community-5 {
    position: absolute;
    left: 50px;
    top: 510px;
}

.join-community .community-6 {
    position: absolute;
    left: 50px;
    top: 600px;
}

.join-community .ellipse {
    position: absolute;
    height: 70px;
    width: 70px;
}

.join-community .group-2 {
    position: absolute;
    left: 100px;
    top: 150px;
}

.join-community .title {
    color: #000000;
    position: absolute;
    font-size: large;
    font-weight: 600;
    font-style: normal;
    left: 200px;
    top: 145px;
}

.join-community .members {
    color: var(--main-color);
    position: absolute;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    left: 200px;
    top: 180px;
}

.join-community .add-member-button {
    position: absolute;
    color: var(--main-color);
    background-color: transparent;
    border: 1.5px solid var(--main-color);
    border-radius: 20px;
    padding: 15px 20px 15px 50px;
    left: 450px;
    top: 150px;
    font-weight: 600;
    cursor: pointer;
}

.join-community .post {
    position: absolute;
    font-size: 30px;
    padding: 0px 8px 0px 8px;
    border-radius: 5px;
    color: var(--main-color);
    box-shadow: 0px 3.66px 3.66px #00000040, inset 0px 1.83px 1.83px #00000026;
    margin-left: 430px;
    top: 150px;
 }

 .join-community .frame {
    height: 440px;
    left: 200px;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 244px;
    width: 784px;
 }

 .join-community .group-3 {
    background-color: var(--white);
    box-shadow: inset 2px 0px 0px 2px #00000040;
    border-radius: 15px;
    height: 700px;
    position: relative;
    width: 784px;
 }

 .join-community .community-member {
    position: absolute;
    font-size: large;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    left: 140px;
    top: 60px;
 }

 .join-community .post-caption {
    position: absolute;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    left: 45px;
    top: 128px;
 }

 .join-community .heart-icons {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 30px;
    left: 50px;
    top: 490px;
 }

 .join-community .likes {
    position: absolute;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    left: 50px;
    top: 540px;
 }

 .join-community .comments {
    position: absolute;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
    color: #00000040;
    left: 50px;
    top: 570px;
 }

 .join-community .time {
    position: absolute;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
    color: #00000040;
    left: 50px;
    top: 600px;
 }

 .join-community .add-member-icon {
    position: absolute;
    left: 470px;
    top: 162px;
    cursor: pointer;
 }

 .join-community .corey {
    position: absolute;
    left: 45px;
    top: 30px;
 }

 .join-community .night-reader {
    position: absolute;
    left: 45px;
    top: 170px;
 }

 .join-community .type-something {
    position: absolute;
    left: 45px;
    top: 130px;
    width: 650px;
    padding-bottom: 40px;
    color: #000000;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
 }

 .join-community .type-something::placeholder {
    color: #00000040;
 }

 .join-community .frame-2 {
    height: 430px;
    left: 200px;
    overflow: hidden;
    position: absolute;
    top: 244px;
    width: 784px;
 }

 .join-community .group-5 {
    background-color: var(--white);
    box-shadow: inset 2px 0px 0px 2px #00000040;
    border-radius: 15px;
    height: 400px;
    position: relative;
    width: 784px;
 }

 .join-community .frame-3 {
   height: 50px;
   left: 200px;
   overflow: hidden;
   position: absolute;
   top: 545px;
   width: 784px;
}

.join-community .group-6 {
   background-color: var(--white);
   box-shadow: inset 2px 0px 0px 2px #00000040;
   border-radius: 15px;
   height: 400px;
   position: relative;
   width: 784px;
}

 .join-community .photo-icon {
    position: absolute;
    left: 50px;
    top: 330px;
 }

 .join-community .community-post-button {
    position: absolute;
    color: #ffffff;
    background-color: var(--main-color);
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    padding: 10px 30px 10px 30px;
    left: 660px;
    top: 330px;
    border-radius: 20px;
    cursor: pointer;
 }