.library {
    background-color: #ffffff;
    position: relative;
    width: 100%;
 }

.library-search {
    margin-top: 150px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 40px;
    border-radius: 30px;
    background-color: #D9D9D9;
    margin-left: 848px;
    font-size: medium;
}

.library-search-icon {
    margin-left: 870px;
    margin-top: 113px;
    position: absolute;
 }

.library-search-create {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
}

.library .creating-story {
    position: absolute;
    top: 74px;
    left: 1025px;
 }

.library-create-new-story {
    margin-top: 110px;
    padding: 20px 20px;
    border-radius: 40px;
    color: #8b008b;
    font-weight: 700;
    font-size: larger;
    background-color: transparent;
    border: 2px solid #8b008b;
}

.library .create-story {
    position: absolute;
    font-size: small;
    margin-left: -52px;
    margin-top: 25px;
    width: 300px;
  }
 
  .library .create {
    background-color: #ffffff;
    padding: 20px 60px 20px 30px;
    border-radius: 10px;
  }
 
  .library .Create-one-myself {
    color: black;
    font-weight: 600;
    border: 1px solid #00000040;
    border-radius: 5px;
    padding: 5px 130px 5px 8px;
    white-space: nowrap;
  }
 
  #more-Create-one-myself {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
 
  .library .select-button {
    position: absolute;
    left: 250px;
    background-color: transparent;
    color: #8b008b;
    cursor: pointer;
  }
 
  .library .Hire-a-Creator {
    color: black;
    font-weight: 600;
    border: 1px solid #00000040;
    border-radius: 5px;
    padding: 5px 153px 5px 8px;
    white-space: nowrap;
  }
 
  #more-Hire-a-Creator {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }
 
  .library .Find-who-hiring {
    color: black;
    font-weight: 600;
    border: 1px solid #00000040;
    border-radius: 5px;
    padding: 5px 134px 5px 8px;
    white-space: nowrap;
  }
 
  #more-Find-who-hiring {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }
 
  .library .Create-for-StoryCreate {
    color: black;
    font-weight: 600;
    border: 1px solid #00000040;
    border-radius: 5px;
    padding: 5px 55px 5px 8px;
    white-space: nowrap;
  }
 
  #more-Create-for-StoryCreate {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }
 
  .library .continue {
    color: black;
    font-weight: 600;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 10px 93px 10px 93px;
    color: #ffffff;
    background-color: #8b008b;
    opacity: 0.5;
  }

.keep-reading {
    display: flex;
    padding-bottom: 30px;
    margin-left: 60px;
}

.library-group-1 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 80px;
   width: 90%;
   overflow: hidden;
}

.library-title-1 {
    margin-right: 213px;
    padding-top: 15px;
}

.library-author-1 {
    margin-right: 245px;
    color: #8b008b;
    padding-top: 15px;
    padding-bottom: 20px;
}

.library-title-2 {
    margin-right: 198px;
    padding-top: 15px;
}

.library-author-2 {
    margin-right: 208px;
    color: #8b008b;
    padding-top: 15px;
    padding-bottom: 20px;
}

.library-title-3 {
    margin-right: 158px;
    padding-top: 15px;
}

.library-author-3 {
    margin-right: 250px;
    color: #8b008b;
    padding-top: 15px;
    padding-bottom: 20px;
}

.library-continue-reading {
    padding: 20px 100px 20px 100px;
    border-radius: 20px;
    border: #8b008b solid 1.5px;
    background: transparent;
    font-weight: 700;
    font-size: large;
    color: #8b008b;
    cursor: pointer;
}

.library-continue-writing-header {
    display: flex;
    padding-left: 60px;
    padding-bottom: 30px;
}

.library-group-2 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 80px;
   width: 90%;
   overflow: hidden;
}

.p {
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 82px;
}

.p-1 {
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-right: 85px;
}

.p-2 {
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-right: 270px;
}

.p-1b {
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-right: 127px;
}

.p-2b {
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-right: 330px;
}

.library-continue-writing {
    padding: 20px 100px 20px 100px;
    border-radius: 20px;
    border: #8b008b solid 1.5px;
    background: transparent;
    font-weight: 700;
    font-size: large;
    color: #8b008b;
    cursor: pointer;
}

.library-saved-books {
    display: flex;
    padding-left: 60px;
    padding-bottom: 30px;
}

.library-group-3 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 80px;
   width: 90%;
   overflow: hidden;
}

.library-title-4 {
    margin-right: 242px;
    padding-top: 15px;
 }
 
 .library-author-4 {
    margin-right: 248px;
    color: #8b008b;
    padding-top: 15px;
 }

 .library-title-5 {
    margin-right: 213px;
    padding-top: 15px;
}

.library-author-5 {
    margin-right: 245px;
    color: #8b008b;
    padding-top: 15px;
}

.library-title-6 {
    margin-right: 196px;
    padding-top: 15px;
 }
 
 .library-author-6 {
    margin-right: 207px;
    color: #8b008b;
    padding-top: 15px;
 }

 .library-books-ready {
    display: flex;
    padding-left: 60px;
    padding-bottom: 30px;
}

.library .books-ready {
    margin-right: 700px;
}

.library-title-7 {
    margin-right: 937px;
    padding-top: 15px;
 }
 
 .library-author-7 {
    margin-right: 935px;
    color: #8b008b;
    padding-top: 15px;
    padding-bottom: 20px;
 }

 .library-group-4 {
   left: 60px;
   gap: 60px;
   padding-bottom: 80px;
   width: 90%;
   overflow: hidden;
}

.library-publish-now {
    padding: 20px 120px 20px 120px;
    border-radius: 20px;
    background: #8b008b;
    font-weight: 700;
    font-size: large;
    color: #ffffff;
    margin-right: 710px;
    cursor: pointer;
}

.library-submitted {
    display: flex;
    padding-left: 60px;
    padding-bottom: 30px;
}

.library .submitted {
    margin-right: 110px;
    cursor: pointer;
}

.library-title-8 {
    margin-right: 255px;
    padding-top: 15px;
 }
 
 .library-author-8 {
    margin-right: 347px;
    color: #8b008b;
    padding-top: 15px;
    padding-bottom: 20px;
 }

 .library-group-5 {
   margin-left: -295px;
   gap: 60px;
   padding-bottom: 80px;
   width: 90%;
   overflow: hidden;
}

.library-read-again {
    display: flex;
    margin-left: 60px;
    padding-bottom: 30px;
 }
 
 .library-group-6 {
   display: flex;
   margin-left: 60px;
   gap: 60px;
   padding-bottom: 80px;
   width: 90%;
   overflow: hidden;
 }
 
 .library-title-9 {
    margin-right: 154px;
    padding-top: 15px;
 }
 
 .library-author-9 {
    margin-right: 260px;
    color: #8b008b;
    padding-top: 15px;
 }
 
 .library-title-10 {
    margin-right: 175px;
    padding-top: 15px;
 }
 
 .library-author-10 {
    margin-right: 240px;
    color: #8b008b;
    padding-top: 15px;
 }
 
 .library-title-11 {
    margin-right: 180px;
    padding-top: 15px;
 }
 
 .library-author-11 {
    margin-right: 215px;
    color: #8b008b;
    padding-top: 15px;
 }

 .library-published {
    display: flex;
    margin-left: 60px;
    padding-bottom: 30px;
 }

 .library-group-7 {
    display: flex;
    margin-left: 60px;
    gap: 60px;
    padding-bottom: 80px
 }

 .library-title-12 {
    margin-right: 154px;
    padding-top: 15px;
 }
 
 .library-author-12 {
    margin-right: 232px;
    color: #8b008b;
    padding-top: 15px;
 }

 .library-title-13 {
    margin-right: 134px;
    padding-top: 15px;
 }

 .library-title-13a {
    margin-right: 96px;
 }
 
 .library-author-13 {
    margin-right: 232px;
    color: #8b008b;
    padding-top: 15px;
 }

 .library .rectangle-6 {
    cursor: pointer;
 }

 .library .rectangle-7 {
    cursor: pointer;
 }

 .library .rectangle-8 {
    cursor: pointer;
 }

 .library .books-ready {
    cursor: pointer;
 }

 .library .dashboard-rectangle-5 {
    cursor: pointer;
 }

 .library .dashboard-rectangle-6 {
    cursor: pointer;
 }

 .story-typing {
    height: 3500px;
    width: 100%;
    position: relative;
 }

 .story-typing .library-back {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    gap: 6px;
    margin-left: 4.5%;
    position: absolute;
    top: 150px;
    color: #8b008b;
 }

 .story-typing .back {
    font-size: medium;
 }

 #left-arrow {
    font-size: 25px;
    color: var(--main-color);
 }

 .story-typing .library-hire-creator {
    margin-top: 150px;
    padding: 20px 20px 20px 60px;
    border-radius: 40px;
    color: #8b008b;
    font-weight: 700;
    font-size: medium;
    background-color: transparent;
    border: 1px solid #8b008b;
    margin-left: 1020px;
    cursor: pointer;
}

.story-typing .marker-pen {
    position: absolute;
    top: 168px;
    left: 1108px;
    height: 25px;
}

.story-typing .book-title {
    position: absolute;
    margin-left: 460px;
    margin-top: 50px;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    justify-content: center;
    text-align: center;
}

.story-typing .like {
    position: absolute;
    left: 1145px;
    top: 277px;
    height: 40px;
    cursor: pointer;
}

.story-typing .share {
    position: absolute;
    left: 1210px;
    top: 285px;
    height: 22px;
    cursor: pointer;
}

.story-typing .more-vertical {
    position: absolute;
    left: 1265px;
    top: 285px;
    height: 22px;
    cursor: pointer;
}

.story-typing-more {
    position: absolute;
    background-color: #ffffff;
    font-size: medium;
    font-weight: 500;
    padding: 20px;
    right: 70px;
    top: 320px;
    box-shadow: 0px 3.66px 3.66px #00000040, inset 0px 1.83px 1.83px #00000026;
    border-radius: 20px;
}

.story-typing .pen-book {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: left;
    padding-bottom: 20px;
    cursor: pointer;
}

.story-typing .eye-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: -70px;
    cursor: pointer;
}

.story-typing .chapter-name {
    position: absolute;
    top: 480px;
    left: 200px;
    color: #000000;
}

.story-typing .chapter-title {
    position: absolute;
    top: 580px;
    left: 200px;
    color: #000000;
}

.story-typing .chapter-1 {
    position: absolute;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    text-align: left;
    left: 60px;
    top: 430px;
    border: 1px solid #00000040;
    border-radius: 10px;
    background-color: transparent;
    padding: 240px 135px 40px 140px;
    box-shadow: 4px 4px 4px #00000040, inset 4px 4px 4px #00000040;
    width: 1220px;
}

.story-typing .submit {
    position: absolute;
    margin-top: 3150px;
    left: 200px;
    padding: 15px 15px;
    border-radius: 15px;
    color: #8b008b;
    font-weight: 700;
    font-size: medium;
    background-color: transparent;
    border: 1px solid #8b008b;
    cursor: pointer;
}

.story-typing .next {
    position: absolute;
    margin-top: 3150px;
    left: 950px;
    padding: 15px 50px 15px 15px;
    border-radius: 15px;
    color: #8b008b;
    font-weight: 700;
    font-size: medium;
    background-color: transparent;
    border: 1px solid #8b008b;
    cursor: pointer;
}

.story-typing .arrow-right {
    position: absolute;
    margin-top: 3167px;
    left: 1080px;
    height: 20px;
    cursor: pointer;
}