.font-link {
    font-family: 'montserrat', bold;
  }

.navbar {
    position: fixed;
    padding: 15px 30px;
    width: 100%;
    background-color: #FFFEFD;
    align-items: center;
    font-size: 15px;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    z-index: 100;
    word-spacing: 20px;
    color: #8b008b;
    display: flex;
    justify-content: space-between;
  }
  
.navletter-logo {
    font-family: 'Kalam';
    color: #8b008b;
    font-size: 27px;
    padding-right: 20%;
    margin-left: 2%;
  }
  
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 2.5%;
  }

.navbar .links {
    text-align: center;
    padding: 30px;
    color: var(--main-color);
    margin-right: 13px;
    display: flex;
    gap: 50px;
  }

.navbar .links a {
    color: var(--main-color);
    transition: .3s;
  }

.links a:hover,
.links a.active {
  color: var(--second-main-color);
}

.me-button {
    background: transparent;
    color: #8b008b;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
  }

.me-button:hover {
  color: var(--second-main-color);
}

#me-drop-arrow {
    position: absolute;
  }

.nav-me {
  font-size: small;
  margin-left: -112px;
  margin-top: 10px;
  }

.memenu {
  background-color: #FFFEFD;
  padding: 20px 30px 20px 30px;
  position: absolute;
  border-radius: 10px;
}

.me-user-name {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: 600;
  }

.me-profile {
    color: black;
    font-weight: 600;
  }

.memenu a:hover {
   background-color: hsl(300, 100%, 95%);
  }

#me-user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

.me-message {
    color: black;
    font-weight: 600;
  }

#me-user-message {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.me-notifications {
    color: black;
    font-weight: 600;
  }

#me-user-notifications {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.me-gigs {
    color: black;
    font-weight: 600;
  }

#me-user-gigs {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.me-community {
    color: black;
    font-weight: 600;
  }

#me-user-community {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.me-settings {
    color: black;
    font-weight: 600;
  }

#me-user-settings {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

.me-log-out {
    color: black;
    font-weight: 600;
  }

#me-user-logout {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }