.settings .privacy-2 {
    position: absolute;
    color: var(--main-color);
    padding-bottom: 20px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    left: 62px;
    top: 540px;
}

.settings .text-45 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 220px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .text-46 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 290px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-15 {
    position: absolute;
    left: 1255px;
    top: 287px;
}

.settings .text-47 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 355px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-16 {
    position: absolute;
    left: 1255px;
    top: 352px;
}

.settings .text-48 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 425px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-17 {
    position: absolute;
    left: 1255px;
    top: 422px;
}

.settings .text-49 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 495px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-18 {
    position: absolute;
    left: 1255px;
    top: 492px;
}

.settings .text-50 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 565px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-19 {
    position: absolute;
    left: 1255px;
    top: 562px;
}