.reading {
    height: 4700px;
    width: 100%;
    position: relative;
    overflow: hidden;
 }

.reading .book-title {
    position: absolute;
    margin-left: 460px;
    margin-top: 200px;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    text-align: center;
}

.reading .like {
    position: absolute;
    left: 1255px;
    top: 372px;
    height: 40px;
    cursor: pointer;
}

.reading .share {
    position: absolute;
    left: 1200px;
    top: 380px;
    height: 22px;
    cursor: pointer;
}

.reading .plus {
    position: absolute;
    left: 1135px;
    top: 372px;
    height: 22px;
    font-size: xx-large;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
}

.reading .content {
    position: absolute;
    top: 460px;
    left: 1145px;
    padding: 35px 35px 15px 35px;
    background-color: var(--second-main-color);
    font-size: medium;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.reading .content-icon {
    position: absolute;
    top: 475px;
    left: 1203px;
    height: 15px;
}

.reading .premium {
    position: absolute;
    top: 580px;
    left: 1145px;
    padding: 35px 30px 15px 30px;
    background-color: var(--second-main-color);
    font-size: medium;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.reading .premium-icon {
    position: absolute;
    top: 590px;
    left: 1203px;
    height: 27px;
}

.reading .subscribe-to {
    position: absolute;
    top: 700px;
    left: 1145px;
    padding: 15px 21px 15px 21px;
    background-color: var(--second-main-color);
    font-size: small;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.reading .chapter-name {
    position: absolute;
    top: 430px;
    left: 200px;
    color: #000000;
}

.reading .chapter-title {
    position: absolute;
    top: 530px;
    left: 200px;
    color: #000000;
}

.reading .chapter-1 {
    position: absolute;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    text-align: left;
    left: 60px;
    top: 380px;
    border: 1px solid #00000040;
    border-radius: 10px;
    background-color: transparent;
    padding: 240px 135px 40px 140px;
    box-shadow: 4px 4px 4px #00000040, inset 4px 4px 4px #00000040;
    width: 1010px;
}

.reading .comments {
    position: absolute;
    left: 1000px;
    top: 630px;
    height: 30px;
}

.reading .comments-2 {
    position: absolute;
    left: 1000px;
    top: 780px;
    height: 30px;
}

.reading .previous {
    position: absolute;
    margin-top: 3550px;
    left: 60px;
    padding: 15px 25px 15px 70px;
    border-radius: 15px;
    color: #7c7c7e;
    font-weight: 700;
    font-size: medium;
    background-color: transparent;
    border: 1px solid #7c7c7e;
    cursor: pointer;
}

.reading .next {
    position: absolute;
    margin-top: 3550px;
    left: 865px;
    padding: 15px 70px 15px 25px;
    border-radius: 15px;
    color: #8b008b;
    font-weight: 700;
    font-size: medium;
    background-color: transparent;
    border: 1px solid #8b008b;
    cursor: pointer;
}

.reading .arrow-right {
    position: absolute;
    margin-top: 3567px;
    left: 1015px;
    height: 20px;
}

.reading .arrow-left-chevron {
    position: absolute;
    margin-top: 3569px;
    left: 100px;
    height: 13px;
}

.reading .write-comment {
    position: absolute;
    left: 60px;
    top: 3700px;
    border: 1px solid #00000040;
    border-radius: 30px;
    background-color: transparent;
    padding: 20px 790px 20px 30px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

.reading .post-button {
    position: absolute;
    left: 1000px;
    top: 3720px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    color: var(--second-main-color);
    background-color: transparent;
    cursor: pointer;
}

.reading .mercy {
    position: absolute;
    left: 60px;
    top: 3840px;
    height: 50px;
    width: 50px;
}

.reading .user {
    position: absolute;
    left: 130px;
    top: 3840px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.reading .comment {
    position: absolute;
    left: 130px;
    top: 3870px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
}

.reading .reply {
    position: absolute;
    left: 130px;
    top: 3895px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
    color: var(--second-main-color);
    cursor: pointer;
}

.reading .love {
    position: absolute;
    left: 1050px;
    top: 3863px;
    height: 30px;
    cursor: pointer;
}

.reading .kindred {
    position: absolute;
    left: 60px;
    top: 3970px;
    height: 50px;
    width: 50px;
}

.reading .user-2 {
    position: absolute;
    left: 130px;
    top: 3970px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.reading .comment-2 {
    position: absolute;
    left: 130px;
    top: 4000px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
}

.reading .reply-2 {
    position: absolute;
    left: 130px;
    top: 4025px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
    color: var(--second-main-color);
    cursor: pointer;
}

.reading .love-2 {
    position: absolute;
    left: 1050px;
    top: 3993px;
    height: 30px;
    cursor: pointer;
}

.reading .jojo {
    position: absolute;
    left: 60px;
    top: 4100px;
    height: 50px;
    width: 50px;
}

.reading .user-3 {
    position: absolute;
    left: 130px;
    top: 4100px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.reading .comment-3 {
    position: absolute;
    left: 130px;
    top: 4130px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
}

.reading .reply-3 {
    position: absolute;
    left: 130px;
    top: 4155px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
    color: var(--second-main-color);
    cursor: pointer;
}

.reading .love-3 {
    position: absolute;
    left: 1050px;
    top: 4123px;
    height: 30px;
    cursor: pointer;
}

.reading .samson {
    position: absolute;
    left: 60px;
    top: 4230px;
    height: 50px;
    width: 50px;
}

.reading .user-4 {
    position: absolute;
    left: 130px;
    top: 4230px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.reading .comment-4 {
    position: absolute;
    left: 130px;
    top: 4260px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
}

.reading .reply-4 {
    position: absolute;
    left: 130px;
    top: 4285px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
    color: var(--second-main-color);
    cursor: pointer;
}

.reading .love-4 {
    position: absolute;
    left: 1050px;
    top: 4253px;
    height: 30px;
    cursor: pointer;
}

.reading .nathaniel {
    position: absolute;
    left: 60px;
    top: 4360px;
    height: 50px;
    width: 50px;
}

.reading .user-5 {
    position: absolute;
    left: 130px;
    top: 4360px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.reading .comment-5 {
    position: absolute;
    left: 130px;
    top: 4390px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
}

.reading .reply-5 {
    position: absolute;
    left: 130px;
    top: 4415px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
    color: var(--second-main-color);
    cursor: pointer;
}

.reading .love-5 {
    position: absolute;
    left: 1050px;
    top: 4383px;
    height: 30px;
    cursor: pointer;
}

.reading .view-more-comments {
    position: absolute;
    left: 130px;
    top: 4500px;
    padding: 20px 250px 20px 250px;
    border-radius: 30px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    background-color: var(--second-main-color);
    opacity: 0.5;
    cursor: pointer;
}