.settings {
    background-color: #ffffff;
    position: relative;
    height: 860px;
    width: 1300px;
}

.settings .title {
    position: absolute;
    color: #000000;
    font-size: x-large;
    font-weight: 600;
    font-style: normal;
    left: 100px;
    top: 150px;
}

.settings .account-preferences {
    position: absolute;
    color: var(--main-color);
    padding-bottom: 20px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    left: 100px;
    top: 220px;
}

.settings .arrow-right {
    position: absolute;
    left: 370px;
    top: 218px;
}

.settings .sign-in {
    position: absolute;
    color: #000000;
    padding-bottom: 20px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    left: 100px;
    top: 300px;
}

.settings .arrow-right-dark-1 {
    position: absolute;
    left: 370px;
    top: 298px;
}

.settings .subscriptions {
    position: absolute;
    color: #000000;
    padding-bottom: 20px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    left: 100px;
    top: 380px;
}

.settings .arrow-right-dark-2 {
    position: absolute;
    left: 370px;
    top: 378px;
}

.settings .notification {
    position: absolute;
    color: #000000;
    padding-bottom: 20px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    left: 100px;
    top: 460px;
}

.settings .arrow-right-dark-3 {
    position: absolute;
    left: 370px;
    top: 458px;
}

.settings .privacy {
    position: absolute;
    color: #000000;
    padding-bottom: 20px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    left: 100px;
    top: 540px;
}

.settings .arrow-right-dark-4 {
    position: absolute;
    left: 370px;
    top: 538px;
}

.settings .additonal {
    position: absolute;
    color: #000000;
    padding-bottom: 20px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    left: 100px;
    top: 620px;
}

.settings .arrow-right-dark-5 {
    position: absolute;
    left: 370px;
    top: 618px;
}

.settings .settings-line {
    position: absolute;
    left: 500px;
    top: 200px;
    height: 500px;
}

.settings .account-info {
    color: #000000;
    position: absolute;
    left: 570px;
    top: 218px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .p-1 {
    position: absolute;
    left: 570px;
    top: 238px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-6 {
    position: absolute;
    left: 1255px;
    top: 230px;
}

.settings .change-your-password {
    color: #000000;
    position: absolute;
    left: 570px;
    top: 318px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .p-2 {
    position: absolute;
    left: 570px;
    top: 358px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-7 {
    position: absolute;
    left: 1255px;
    top: 330px;
}

.settings .deactivate-account {
    color: #000000;
    position: absolute;
    left: 570px;
    top: 418px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .p-3 {
    position: absolute;
    left: 570px;
    top: 458px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-8 {
    position: absolute;
    left: 1255px;
    top: 430px;
}

.settings .account-info-2 {
    color: #000000;
    position: absolute;
    left: 570px;
    top: 218px;
    font-size: medium;
    font-weight: 700;
    font-style: normal;
}

.settings .phone {
    color: #000000;
    position: absolute;
    left: 570px;
    top: 288px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .phone-number {
    position: absolute;
    left: 570px;
    top: 328px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-9 {
    position: absolute;
    left: 1255px;
    top: 300px;
}

.settings .email {
    color: #000000;
    position: absolute;
    left: 570px;
    top: 388px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .email-2 {
    position: absolute;
    left: 570px;
    top: 428px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-10 {
    position: absolute;
    left: 1255px;
    top: 400px;
}

.settings .country {
    color: #000000;
    position: absolute;
    left: 570px;
    top: 488px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .country-2 {
    position: absolute;
    left: 570px;
    top: 528px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-11 {
    position: absolute;
    left: 1255px;
    top: 500px;
}

.settings .language {
    color: #000000;
    position: absolute;
    left: 570px;
    top: 588px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .language-2 {
    position: absolute;
    left: 570px;
    top: 628px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-12 {
    position: absolute;
    left: 1255px;
    top: 600px;
}

.settings .gender {
    color: #000000;
    position: absolute;
    left: 570px;
    top: 688px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .gender-2 {
    position: absolute;
    left: 570px;
    top: 728px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-13 {
    position: absolute;
    left: 1255px;
    top: 700px;
}

.settings .cancel {
    color: #000000;
    position: absolute;
    left: 1260px;
    top: 160px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    background-color: transparent;
}

.settings .change-password {
    color: var(--main-color);
    position: absolute;
    left: 570px;
    top: 218px;
    font-size: medium;
    font-weight: 700;
    font-style: normal;
}

.settings .current-password {
    color: #000000;
    font-size: large;
    font-weight: 600;
    left: 572px;
    position: absolute;
    top: 260px;
    background-color: transparent;
    padding: 20px 395px 20px 30px;
    border: 1px solid #00000040;
    border-radius: 10px;
}

.settings .current-password::placeholder {
    color: #00000040;
}

.settings .forgot-password {
    color: var(--main-color);
    background-color: transparent;
    position: absolute;
    font-size: small;
    font-weight: 600;
    font-style: normal;
    left: 1098px;
    top: 335px;
}

.settings .new-password {
    color: #000000;
    font-size: large;
    font-weight: 600;
    left: 572px;
    position: absolute;
    top: 400px;
    background-color: transparent;
    padding: 20px 395px 20px 30px;
    border: 1px solid #00000040;
    border-radius: 10px;
}

.settings .new-password::placeholder {
    color: #00000040;
}

.settings .confirm-password {
    color: #000000;
    font-size: large;
    font-weight: 600;
    left: 572px;
    position: absolute;
    top: 500px;
    background-color: transparent;
    padding: 20px 395px 20px 30px;
    border: 1px solid #00000040;
    border-radius: 10px;
}

.settings .confirm-password::placeholder {
    color: #00000040;
}

.settings .save-button {
    position: absolute;
    color: #ffffff;
    background-color: var(--second-main-color);
    padding: 15px 50px 15px 50px;
    border-radius: 15px;
    left: 1076px;
    top: 600px;
    font-size: large;
    font-weight: 600;
    font-style: normal;
}

.settings .deactivate-your-account {
    color: #000000;
    position: absolute;
    left: 570px;
    top: 218px;
    font-size: medium;
    font-weight: 700;
    font-style: normal;
}

.settings .deactivating-account {
    position: absolute;
    color: #00000040;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    line-height: 23px;
    left: 570px;
    top: 255px;
    text-align: left;
}

.settings .what-else {
    color: #000000;
    position: absolute;
    left: 570px;
    top: 380px;
    font-size: medium;
    font-weight: 700;
    font-style: normal;
}

.settings .restore-account {
    position: absolute;
    color: #00000040;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    line-height: 23px;
    left: 570px;
    top: 420px;
    text-align: left;
}

.settings .deactivate-button {
    color: #fd0101;
    background-color: transparent;
    position: absolute;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    left: 1175px;
    top: 510px;
}