.settings .account-preferences-2 {
    position: absolute;
    color: #000000;
    padding-bottom: 20px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    left: 62px;
    top: 220px;
}

.settings .sign-in-2 {
    position: absolute;
    color: var(--main-color);
    padding-bottom: 20px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    left: 62px;
    top: 300px;
}

.settings .text-1 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 218px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .text-2 {
    position: absolute;
    left: 480px;
    top: 258px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-9 {
    position: absolute;
    left: 1252px;
    top: 230px;
}

.settings .text-3 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 318px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .text-4 {
    position: absolute;
    left: 480px;
    top: 358px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-10 {
    position: absolute;
    left: 1252px;
    top: 330px;
}

.settings .text-5 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 418px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .text-6 {
    position: absolute;
    left: 480px;
    top: 458px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-11 {
    position: absolute;
    left: 1252px;
    top: 430px;
}

.settings .text-7 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 518px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .text-8 {
    position: absolute;
    left: 480px;
    top: 558px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-12 {
    position: absolute;
    left: 1252px;
    top: 530px;
}

.settings .text-9 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 618px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .text-10 {
    position: absolute;
    left: 480px;
    top: 658px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-13 {
    position: absolute;
    left: 1252px;
    top: 630px;
}

.settings .text-11 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 718px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .text-12 {
    position: absolute;
    left: 480px;
    top: 758px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .arrow-right-dark-14 {
    position: absolute;
    left: 1252px;
    top: 730px;
}

.settings .text-13 {
    color: var(--main-color);
    position: absolute;
    left: 480px;
    top: 218px;
    font-size: large;
    font-weight: 700;
    font-style: normal;
}

.settings .text-14 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 288px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .text-15 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 358px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .text-16 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 398px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .add-email-adress-button {
    position: absolute;
    color: #ffffff;
    background-color: var(--main-color);
    padding: 15px 50px 15px 50px;
    border-radius: 15px;
    left: 726px;
    top: 480px;
    font-size: large;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.settings .text-17 {
    color: var(--main-color);
    position: absolute;
    left: 480px;
    top: 218px;
    font-size: large;
    font-weight: 700;
    font-style: normal;
}

.settings .text-18 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 288px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .text-19 {
    color: var(--second-main-color);
    position: absolute;
    left: 480px;
    top: 325px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
}

.settings .text-20 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 360px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
    border: 1px solid #000000;
    padding: 15px 465px 15px 20px;
    border-radius: 15px;
}

.settings .text-21 {
    color: var(--main-color);
    position: absolute;
    left: 1080px;
    top: 375px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.settings .text-22 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 455px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .text-23 {
    color: var(--second-main-color);
    position: absolute;
    left: 480px;
    top: 495px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
}

.settings .text-24 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 530px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
    border: 1px solid #000000;
    padding: 15px 465px 15px 20px;
    border-radius: 15px;
}

.settings .toggle-icon-5 {
    position: absolute;
    left: 1100px;
    top: 543px;
    cursor: pointer;
}

.settings .text-25 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 630px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
    text-align: left;
}

.settings .text-26 {
    color: var(--main-color);
    position: absolute;
    left: 480px;
    top: 700px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .add-number-button {
    position: absolute;
    color: #ffffff;
    background-color: var(--main-color);
    padding: 15px 50px 15px 50px;
    border-radius: 15px;
    left: 726px;
    top: 745px;
    font-size: large;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.settings .text-27 {
    color: var(--main-color);
    position: absolute;
    left: 480px;
    top: 218px;
    font-size: large;
    font-weight: 700;
    font-style: normal;
}

.settings .text-28 {
    color: #575757;
    position: absolute;
    left: 480px;
    top: 248px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    border: 1px solid #96949440;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    background-color: #96949440;
}

.settings .text-29 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 368px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .text-30 {
    color: var(--second-main-color);
    position: absolute;
    left: 480px;
    top: 400px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
}

.settings .text-31 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 455px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .text-32 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 475px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .text-33 {
    color: var(--second-main-color);
    position: absolute;
    left: 480px;
    top: 750px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}

.settings .text-34 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 535px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .text-35 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 590px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .text-36 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 610px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .text-37 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 630px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .text-38 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 650px;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}

.settings .text-39 {
    color: var(--main-color);
    position: absolute;
    left: 1100px;
    top: 650px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.settings .text-40 {
    color: var(--main-color);
    position: absolute;
    left: 480px;
    top: 218px;
    font-size: large;
    font-weight: 700;
    font-style: normal;
}

.settings .text-41 {
    color: #000000;
    position: absolute;
    left: 480px;
    top: 288px;
    font-size: medium;
    font-weight: 600;
    font-style: normal;
}

.settings .text-42 {
    color: #000000;
    position: absolute;
    left: 530px;
    top: 340px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
    text-align: left;
}

.settings .text-43 {
    color: #000000;
    position: absolute;
    left: 530px;
    top: 400px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
    text-align: left;
}

.settings .two-step-button {
    position: absolute;
    color: #ffffff;
    background-color: var(--second-main-color);
    padding: 15px 50px 15px 50px;
    border-radius: 15px;
    left: 480px;
    top: 490px;
    font-size: large;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.settings .text-44 {
    color: var(--main-color);
    position: absolute;
    left: 480px;
    top: 585px;
    font-size: small;
    font-weight: 500;
    font-style: normal;
    text-align: left;
}

.settings .span-learn-more {
    color: var(--main-color);
}

.settings .span-note {
    color: #000000;
}

.settings .security-icon {
    position: absolute;
    left: 480px;
    top: 340px;
}

.settings .smart-phone-icon {
    position: absolute;
    left: 480px;
    top: 400px;
}