.profile-subscribers {
    background-color: #ffffff;
    border-radius: 20px;
    height: 1424px;
    position: relative;
    width: 800px;
  }

  .profile-subscribers .creators-back-button {
    margin-left: 500px;
    margin-top: 180px;
    font-size: large;
    font-weight: 600;
    color: black;
    background-color: transparent;
  }

  .profile-subscribers .text-wrapper {
    color: var(--dark-100);
    font-size: x-large;
    font-weight: 700;
    left: -370px;
    letter-spacing: var(--body-medium-30-letter-spacing);
    line-height: var(--body-medium-30-line-height);
    position: absolute;
    top: 50px;
  }

.profile-subscribers .group-4 {
    height: 1088px;
    left: 92px;
    position: absolute;
    top: 275px;
    width: 542px;
  }
  
.profile-subscribers .group-5 {
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 546px;
  }
  
  .profile-subscribers .text-wrapper-4 {
    color: var(--dark-100);
    font-size: medium;
    font-weight: 600;
    left: 100px;
    position: absolute;
    top: 25px;
    white-space: nowrap;
  }
  
  .profile-subscribers .ellipse {
    height: 60px;
    left: 10px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 60px;
  }
  
  .profile-subscribers .text-wrapper-5 {
    color: var(--main-color);
    font-size: medium;
    font-weight: 600;
    left: 366px;
    position: absolute;
    top: 25px;
    white-space: nowrap;
  }
  
  .profile-subscribers .group-6 {
    height: 80px;
    left: 0;
    position: absolute;
    top: 112px;
    width: 546px;
  }
  
  .profile-subscribers .group-7 {
    height: 80px;
    left: 0;
    position: absolute;
    top: 224px;
    width: 546px;
  }
  
  .profile-subscribers .group-8 {
    height: 80px;
    left: 0;
    position: absolute;
    top: 336px;
    width: 546px;
  }
  
  .profile-subscribers .group-9 {
    height: 80px;
    left: 0;
    position: absolute;
    top: 448px;
    width: 546px;
  }
  
  .profile-subscribers .group-10 {
    height: 80px;
    left: 0;
    position: absolute;
    top: 560px;
    width: 546px;
  }