.profile {
    background-color: #f3f3f3;
    height: 1157px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .profile .group {
    height: 816px;
    left: 76px;
    position: absolute;
    top: 220px;
    width: 829px;
  }
  
  .profile .overlap-wrapper {
    height: 416px;
    left: -11px;
    position: absolute;
    top: -50px;
    width: 800px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  .profile .overlap {
    background-color: var(--white);
    border-radius: 20px;
    height: 416px;
    position: relative;
    width: 829px;
  }
  
  .profile .overlap-group {
    height: 271px;
    left: 0;
    position: absolute;
    top: 0;
    width: 829px;
  }
  
  .profile .overlap-group-wrapper {
    height: 260px;
    left: 0;
    position: absolute;
    top: 0;
    width: 829px;
  }
  
  .profile .div {
    height: 260px;
    position: relative;
  }
  
  .profile .rectangle {
    height: 180px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 800px;
    border-radius: 20px 20px 0px 0px;
  }
  
  .profile .ellipse {
    height: 140px;
    left: 70px;
    object-fit: cover;
    position: absolute;
    top: 120px;
    width: 140px;
  }
  
  .profile .text-wrapper {
    color: var(--dark-100);
    font-size: x-large;
    font-weight: 700;
    left: -233px;
    line-height: var(--body-semibold-24-line-height);
    position: absolute;
    top: 60px;
    white-space: nowrap;
  }
  
  .profile .p {
    color: #666565;
    font-size: medium;
    font-weight: 500;
    left: 241px;
    line-height: var(--body-medium-18-line-height);
    position: absolute;
    top: 239px;
  }
  
  .profile .overlap-2 {
    border: 1px solid;
    border-color: var(--magenta-100);
    border-radius: 20px;
    height: 56px;
    position: relative;
    width: 150px;
  }
  
  .profile .edit-profile-button {
    color: var(--second-main-color);
    padding: 15px 20px 15px 20px;
    font-size: small;
    font-weight: 600;
    left: 597px;
    position: absolute;
    top: 350px;
    background-color: transparent;
    border: solid 1px var(--second-main-color);
    border-radius: 20px;
    cursor: pointer;
  }
  
  .profile .group-2 {
    left: 241px;
    position: absolute;
    top: 460px;
    left: 308px;
  }
  
  .profile .text-wrapper-3 {
    color: var(--second-main-color);
    font-family: "Montserrat", Helvetica;
    font-size: medium;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .profile .text-wrapper-4 {
    color: var(--second-main-color);
    font-family: "Montserrat", Helvetica;
    font-size: medium;
    font-weight: 600;
    left: 171px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -5px;
    white-space: nowrap;
  }
  
  .profile .text-wrapper-5 {
    color: var(--second-main-color);
    font-family: "Montserrat", Helvetica;
    font-size: medium;
    font-weight: 600;
    left: 355px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -5px;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .profile .group-wrapper {
    background-color: #ffffff;
    border-radius: 20px;
    height: 340px;
    left: -11px;
    position: absolute;
    top: 426px;
    width: 800px;
  }
  
  .profile .group-3 {
    height: 197px;
    left: 42px;
    position: relative;
    top: 36px;
    width: 744px;
  }
  
  .profile .text-wrapper-6 {
    color: var(--dark-100);
    font-size: large;
    font-weight: 700;
    left: 0;
    letter-spacing: var(--body-semibold-24-letter-spacing);
    line-height: var(--body-semibold-24-line-height);
    position: absolute;
    top: 0;
  }
  
  .profile .i-m-a-fiction-writer {
    color: var(--dark-100);
    font-family: "Montserrat", Helvetica;
    font-size: medium;
    font-weight: 500;
    left: 0px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 53px;
    width: 737px;
    text-align: left;
  }
  
  .profile .group-4 {
    background-color: #ffffff;
    border-radius: 20px;
    height: 260px;
    left: 1076px;
    position: absolute;
    top: 252px;
    width: 220px;
  }
  
  .profile .group-5 {
    height: 185px;
    left: 32px;
    position: relative;
    top: 38px;
    width: 141px;
  }
  
  .profile .group-6 {
    height: 23px;
    left: 0;
    position: absolute;
    top: 45px;
    width: 113px;
  }
  
  .profile .text-wrapper-7 {
    color: var(--dark-100);
    font-family: "Montserrat", Helvetica;
    font-size: small;
    font-weight: 500;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .profile .text-wrapper-8 {
    color: var(--dark-100);
    font-size: var(--body-medium-18-font-size);
    font-weight: var(--body-medium-18-font-weight);
    left: 0;
    letter-spacing: var(--body-medium-18-letter-spacing);
    line-height: var(--body-medium-18-line-height);
    position: absolute;
    top: -11px;
  }
  
  .profile .group-7 {
    height: 23px;
    left: 0;
    position: absolute;
    top: 84px;
    width: 105px;
  }
  
  .profile .group-8 {
    height: 23px;
    left: 0;
    position: absolute;
    top: 123px;
    width: 119px;
  }
  
  .profile .group-9 {
    height: 23px;
    left: 0;
    position: absolute;
    top: 162px;
    width: 143px;
  }
  
  .profile .group-10 {
    background-color: #ffffff;
    border-radius: 20px;
    height: 112px;
    left: 1076px;
    position: absolute;
    top: 544px;
    width: 225px;
  }
  
  .profile .group-11 {
    height: 69px;
    left: 32px;
    position: relative;
    top: 22px;
    width: 164px;
  }
  
  .profile .text-wrapper-9 {
    color: var(--dark-100);
    font-size: large;
    font-weight: 700;
    left: -10px;
    letter-spacing: var(--body-semibold-24-letter-spacing);
    line-height: var(--body-semibold-24-line-height);
    position: absolute;
    top: 0;
    width: 109px;
  }
  
  .profile .group-12 {
    height: 24px;
    left: -10px;
    position: absolute;
    top: 45px;
    width: 164px;
  }
  
  .profile .location-icon {
    height: 20px;
    width: 20px;
    left: 10px !important;
    position: absolute !important;
    top: 5px !important;
  }
  
  .profile .text-wrapper-10 {
    color: var(--dark-100);
    font-family: "Montserrat", Helvetica;
    font-size: small;
    font-weight: 500;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -7px;
    width: 122px;
  }
  
  .profile .group-13 {
    background-color: #ffffff;
    border-radius: 20px;
    height: 264px;
    left: 1076px;
    position: absolute;
    top: 688px;
    width: 225px;
  }
  
  .profile .group-14 {
    height: 190px;
    left: 32px;
    position: relative;
    top: 35px;
    width: 256px;
  }
  
  .profile .group-15 {
    left: 0;
    position: absolute;
    top: 45px;
  }
  
  .profile .text-wrapper-11 {
    color: var(--dark-100);
    font-family: "Montserrat", Helvetica;
    font-size: small;
    font-weight: 500;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -7px;
  }
  
  .profile .image {
    height: 20px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 20px;
  }
  
  .profile .group-16 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 86px;
    width: 177px;
  }
  
  .profile .text-wrapper-12 {
    color: var(--dark-100);
    font-family: "Montserrat", Helvetica;
    font-size: small;
    font-weight: 500;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -13px;
    white-space: nowrap;
  }
  
  .profile .group-17 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 126px;
    width: 173px;
  }
  
  .profile .group-18 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 166px;
    width: 173px;
  }
  
  .profile .text-wrapper-13 {
    color: var(--dark-100);
    font-family: "Montserrat", Helvetica;
    font-size: small;
    font-weight: 500;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -13px;
    white-space: nowrap;
  }
  
  .profile .linkedin-black-instance {
    background-image: url(https://c.animaapp.com/7HeBl85L/img/combined-shape.svg) !important;
    height: 24px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 24px !important;
  }

  .more_icon {
    position: absolute;
    top: 165px;
    left: 1262px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .profile .view-profile-more {
    position: absolute;
    font-size: small;
    margin-left: 1080px;
    margin-top: 255px;
  }

  .profile .moremenu {
    background-color: #FFFEFD;
    padding: 20px 60px 20px 30px;
    border-radius: 10px;
  }

  .profile .published-stories {
    color: black;
    font-weight: 600;
  }

  #more-published-stories {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .profile .reading-list {
    color: black;
    font-weight: 600;
  }

  #more-reading-list {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }

  .profile .saved-books {
    color: black;
    font-weight: 600;
  }

  #more-saved-books {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }

  .profile .subscribers {
    color: black;
    font-weight: 600;
  }

  #more-subscribers {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }

  .profile .creators {
    color: black;
    font-weight: 600;
  }

  #more-creators {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }